[global]
# Whether to turn on secure mode
secure_mode=tls
# Management KaiwuDB user
management_user=kaiwudb
# KaiwuDB cluster http port
rest_port=8080
# KaiwuDB service port
kaiwudb_port=26257
# KaiwuDB brpc port
brpc_port=27257
# KaiwuDB data directory
data_root=/var/lib/kaiwudb
# CPU usage[0-1]
cpu=1

[local]
# local node configuration
local_node_ip=192.168.122.221