numpy
scipy
pandas
scikit-learn
matplotlib
seaborn
jupyterlab
rdkit
openbabel-wheel
meeko
vina
pdbfixer
openmm
mdtraj
MDAnalysis
prolif
pubchempy
chembl_webresource_client
oddt
datamol
mols2grid
py3Dmol
biopython
gemmi
requests
beautifulsoup4
tqdm
pyyaml
networkx
plip
